.contractorGrid{
    margin:20px;
    display:flex;
    align-content: center;
    flex-direction: row;
    flex-wrap:wrap;
    border-radius:10px;
    overflow:hidden;
    -webkit-box-shadow:12px;
    box-shadow: 22px;
  
}

.contractorCard{
    margin: 20px;
}
/* h1{
    color:#203864;
}
h4{
    color:#203864
} */

h6{
    color:black;
}

/* .mb-2{
   background-color:#C55A11; 
   
} */

/*------------------Search Bar-------------------*/
.SearchBar {
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content:center !important; 
    margin:40px;
}

/* .nav-link:hover {
    background-color:#BF9000 !important;
}

.navbarbg{
    background-color: #203864;
}
.assignCButton{
    color: #BF9000 !important;
} */

