@import url('https://fonts.googleapis.com/css?family=Balsamiq+Sans:regular,bold,italic&subset=latin,latin-ext');

body {
  margin: 0;
  font-family: 'Balsamiq Sans',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #939799 !important;
}

code {
  font-family: 'Balsamiq Sans',
  sans-serif;
}

